<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country List</title>
    <link rel="stylesheet" href="./styles/orders.css">
    <link rel="stylesheet" href="/styles/fontFaces.css">
    <script src="/scripts/orders/orders.js"></script>
    <script src="/scripts/orders/filterOrders.js" defer></script>
</head>
<body>

    <h1>Orders</h1>

    <div class="orderFilterContainer">
        <button class="filter" data-filter-value="pending">
            pending
        </button>
        <button class="filter" data-filter-value="accepted">
            accepted
        </button>
        <button class="filter" data-filter-value="declined">
            declined
        </button>
    </div>

    <div class="ordersContainer">
        <% orderList.forEach(order => { %>
            <div class="order-card">
                <div>
                    <p class="name"><%= order.name %></p>
                    <p class="date"><%= order.date %></p> <!-- iz nekog razloga ne mogu pozvat funkciju formatDate iz orders.js -->
                </div>
                <ul class="itemsList">
                    <% order.items.forEach( item => { %>
                        <li class="item">
                            <div class="tagsContainer">
                                <div class="tag country primary">
                                    <%= item.coin.country %> 
                                </div>
                                <div class="tag year primary">
                                    <%= item.coin.year %> 
                                </div>
                                <div class="tag issue secondary">
                                    <%= item.issue %>
                                </div>
                            </div>
                            <div class="title">
                                <%= item.coin.name %>
                            </div>
                            <div class="price">
                                €<%= item.price %>
                                x
                                <%= item.amount %> 
                            </div>
                        </li>
                    <% }); %>
                </ul>
                <div>
                    <p class="total">Total: <%= order.total %>€ (<%= order.items.reduce( (acc, item) => acc+=item.amount, 0) %> items)</p>
                    <% if (order.status === 'pending') { %>
                        <div class="acceptDeclineButtonsContainer">
                            <button class="accept-button" data-order-id="<%= order.id %>">✅ Accept</button>
                            <button class="decline-button" data-order-id="<%= order.id %>">❌ Decline</button>
                        </div>
                    <% } else { %>
                        <p class="orderStatus" style="color: <%= order.status === 'accepted' ? 'green' : 'red'; %>"><%= order.status %></p>
                    <% }; %>
                </div>
            </div>
        <% }); %>
    </div>

</body>
</html>