<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fontFaces.css">
    <link rel="stylesheet" href="/styles/browseItemsStyle.css">

    <script>
        // Globalne varijable
        let fetchedData = null;

        // save data from ejs to js
        const countryList = JSON.parse('<%- JSON.stringify(countryList) %>');
        const yearList = JSON.parse('<%- JSON.stringify(yearList) %>');

        console.log(countryList);
        console.log(yearList);

    </script>
    <script type="module" src="/js/browseItems/utils.js"></script>
    <script type="module" src="/js/Cart.js"></script>
    <script type="module" src="/js/browseItems/htmlGenerator.js"></script>
    <script type="module" src="/js/browseItems/navigationAndFilterHandlers.js" defer></script>
    <script type="module" src="/js/browseItems/browseItemsScript.js" defer></script>

    <title>LootLake - Browsing</title>
</head>
<body>
    <header>
        <h1>LootLake</h1>

        <nav>
            <ul>
                <li class="selected"><a id="browseHref" href="#">Browse</a></li>
                <li><a id="cartHref" href="#">Odabrano</a><span class="navSelectedItemsWorth">€0</span> </li>
                <!-- <li><a href="#">Stats</a></li> -->
            </ul>
        </nav>
    </header>

    <div id="priceAndSendButton">
        <p class="cartSum">Total: €0</p>
        <div class="buttonsContainer">
            <button class="clearOrderButton" type="button">🗑️ Clear</button>
            <button class="sendOrderButton" type="button">💵 Buy</button>
        </div>
    </div>

    <main id="itemsList">
    </main>

    <main id="cartList">
    </main>

    <div class="filtersContainer">
        <select name="countryDropdown" id="countryDropdown">
            <option value="" selected>Država</option>
            <% countryList.forEach((country)=>{ %>
                <option value="<%= country[1] %>"><%= country[0] %></option>
            <% }); %>
        </select>

        <select name="yearDropdown" id="yearDropdown">
            <option value="" selected>Godina</option>
            <% yearList.forEach((year)=>{ %>
                <option value="<%= year[1] %>"><%= year[0] %></option>
            <% }); %>
        </select>
    </div>
</body>
</html>