<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/styles/edit.css">
    <link rel="stylesheet" href="/styles/fontFaces.css">
</head>

<body>
    <script>
        // save data from ejs to js
        const countryList = JSON.parse('<%- JSON.stringify(countryList) %>');
        const yearList = JSON.parse('<%- JSON.stringify(yearList) %>');

        const issueMapObject = <%- JSON.stringify(Object.fromEntries(issueMap)) %>;
        const issueMap = new Map(Object.entries(issueMapObject));
        const groupList = <%- JSON.stringify(coinList) %>;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/js/edit/client.js"></script>
    <script type="module" src="/js/edit/chart.js" defer></script>

    <div class="header">
        <div class="filter">
            <a href="/edit?group_by=countries">Countries</a>
            <a href="/edit?group_by=years">Years</a>
        </div>

        <div class="scrollToGroupContainer">
            <label for="scrollToGroupLabel">Scroll to:</label>
            <select id="scrollToGroupSelect">
                <% groupByList.forEach(group=> { %>
                <option value=<%= group[1] %>><%= group[0] %>
                </option>
                <% }); %>
            </select>
        </div>
    </div>

    <main>
        <div class="left">
            <ul class="groupsList">
                <% coinList.forEach(coinGroup=> { %>
                <li class="group">
                    <div class="titleAndAddCoinButtonContainer">
                        <h2 class="groupTitle" id="<%= coinGroup.group[1] %>">
                            <%= coinGroup.group[0] %>
                        </h2>
                        <button class="showAddCoinFormButton" ><img src="/images/icons/plus.svg" alt="Add new coin"></button>
                    </div>
                    <ul class="groupItems">
                        <% coinGroup.coins.forEach(coin=> { %>
                        <li class="coin item" id="<%= coin._id %>">
                            <div class="subgroupValue">
                                <%= coin.subgroup %>
                            </div>
                            <div class="itemData">
                                <div class="mainName">
                                    <span class="coinName"><%= coin.name %></span>
                                    <span class="addIssueButton">+</span>
                                </div>
                                <ul class="itemVersions">
                                    <% coin.issueIds.forEach(issueId=> { %>
                                    <li class="editIssue version" data-issue-id="<%= issueId.toString() %>">
                                        <%=issueMap.get(issueId.toString()).name%> 
                                        (€ <%=issueMap.get(issueId.toString()).price%>, count:
                                        <%=issueMap.get(issueId.toString()).amount%>)
                                    </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </li>
                <% }); %>
            </ul>
        </div>

        <div class="right">
            <div class="rightChildContainer">
                <div id="sidebarTitle">Coin info</div>
                <img  id="coinPreviewImage" style="/*display: none;*/" src="#" alt="selected coin image">
                <canvas id="daysChart"></canvas>
                <canvas id="monthsChart"></canvas>
            </div>
        </div>
    </main>


    <dialog id="addCoinDialog">
        <form id="addCoinForm" >
            <label for="countrySelect">Country:</label>
            <select id="countrySelect">
                <% countryList.forEach(country=> { %>
                <option value=<%= country[1] %>><%= country[0] %>
                </option>
                <% }); %>
            </select>

            <label for="yearSelect">Year:</label>
            <select id="yearSelect">
                <% yearList.forEach(year=> { %>
                <option value=<%= year[1] %>><%= year[0] %>
                </option>
                <% }); %>
            </select>

            <label for="coinName">Coin Name:</label>
            <input type="text" id="coinName" required>

            <label for="sourceLink">Source Link:</label>
            <input type="url" id="sourceLink">

            <button class="primaryButton" type="submit">Add Coin</button>                   

        </form>
    </dialog>

</body>
</html>