<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country List</title>
    <link rel="stylesheet" href="/styles/orders.css">
    <link rel="stylesheet" href="/styles/fontFaces.css">

    <script type="module" src="/js/orders/orders.js"></script>
    <script type="module" src="/js/orders/dateFormatingFunctions.js"></script>
    <script type="module"  src="/js/orders/filterOrders.js" defer></script>
    <script type="module" src="/js/orders/pagination.js" defer></script>
    <script type="module" src="/js/orders/vidiSve.js" defer></script>
</head>
<body>

    <script>
        const orderList = <%- JSON.stringify(orderList) %>;
        console.log(orderList);
    </script>

    <h1>Orders</h1>

    <div class="orderFilterContainer">
        <button class="filter" data-filter-value="pending">
            pending
        </button>
        <button class="filter" data-filter-value="accepted">
            accepted
        </button>
        <button class="filter" data-filter-value="declined">
            declined
        </button>
    </div>

    <div class="ordersContainer">
        <% orderList.forEach(order => { %>
            <div class="order-card" data-order-id="<%= order.id %>">
                <div class="order-header">
                    <div class="column-1">
                        <p class="order-name"><%= order.name %></p>
                        <p class="date"><%= order.date %></p> 
                    </div>
                    <div class="column-2">
                        <p class="total">Total: <%= order.total %>€ (<%= order.items.reduce( (acc, item) => acc+=item.amount, 0) %> items)</p>
                        <% if (order.status === 'pending') { %>
                            <div class="acceptDeclineButtonsContainer">
                                <button class="accept-button" data-order-id="<%= order.id %>">✅ Accept</button>
                                <button class="decline-button" data-order-id="<%= order.id %>">❌ Decline</button>
                            </div>
                        <% } else { %>
                            <div class="chip orderStatus <%= order.status === 'accepted' ? 'accepted' : 'declined'; %>">
                                <%= order.status %>
                            </div>
                        <% }; %>
                    </div>
                </div>

                <ul class="itemsList">
                    <% order.items.forEach( item => { %>

                        <!-- New layout -->
                        <li class="item lowerHalfHidden">
                            <div class="upper">
                                <p class="qty"><%= item.amount %> <span class="text-808080">x</span> </p>
                                <img src="<%= item.coin.src %>" alt="Front of the coin">
                                <div class="tags">
                                    <div class="tag country primary">
                                        <% let shortCountry = item.coin.code.replace(/[^a-z]/gi, ''); %>
                                        <img class="flag" src="/images/flags/<%= shortCountry %>.gif" alt="<%= item.coin.country %> flag">
                                        <!-- get only the text part of item.coin.code -->
                                        <%= shortCountry %>
                                    </div>
                                    <div class="tag year primary">
                                        <%= item.coin.year %> 
                                    </div>
                                    <div class="tag issue secondary">
                                        <%= item.issue %>
                                    </div>
                                </div>
                                <button type="button" class="toggleMoreInfoButton">
                                    <img src="/images/icons/down-arrow-black.svg" alt="dropdown arrow">
                                </button>
                            </div>

                            <div class="lower hidden">
                                <div class="textColumn price">
                                    <p class="label">Cijena</p>
                                    <p class="value">€<%= item.price %></p>
                                </div>
                                <div class="textColumn name">
                                    <p class="label">Naziv</p>
                                    <p class="value"><%= item.coin.name %></p>
                                </div>
                                <div class="changeAmountButtonsContainer">
                                    <button type="button" class="add">Dodaj 1</button>
                                    <button type="button" class="remove">Oduzmi 1</button>
                                </div>
                            </div>
                        </li>

                    <% }); %>
                </ul>

                <button type="button" class="seeAllButton">Vidi sve...</button>
            </div>
        <% }); %>
    </div>

    <div id="paginationContainer">
        <button id="prevPage" class="paginationButton" > <img src="/images/icons/down-arrow-black.svg" alt="Previous page"> </button>
        <p id="currentPage">page 1</p>
        <button id="nextPage" class="paginationButton"> <img src="/images/icons/down-arrow-black.svg" alt="Next page"> </button>
    </div>
</body>
</html>